<p id="pc-date-time"><span id="pc-date">Date: 27.08.22.<span id="pc-date-value"></span></span><span id="pc-date">Time: 00:40<span id="pc-time-value"></span></span></p>
<p>Minimum value: <span id="pc-min-value"></span></p>
<p>Maximum value: <span id="pc-max-value"></span></p>
<p>Suggested value: 250</p>
<p>Measuring temperature: <span id="pc-temperature-value"></span></p>
<p>Measuring humidity: <span id="pc-humidity-value"></span></p>
