<p id="pc-date-time">
    <span id="pc-date">Date: <span id="pc-date-value"></span></span>
    <span id="pc-date">Time: <span id="pc-time-value"></span></span>
</p>
<p>Minimum value: <span id="pc-min-value"></span>ppm</p>
<p>Maximum value: <span id="pc-max-value"></span>ppm</p>
<p>Suggested value: <span id="pc-suggested-value"></span>ppm</p>
<p>Measuring temperature: <span id="pc-temperature-value"></span>°C</p>
<p>Measuring humidity: <span id="pc-humidity-value"></span>%</p>
<p>Measuring pressure: <span id="pc-pressure-value"></span>mbar</p>
