<%- include('partials/header') %>

<div class="content">
    <div class="top">
        <img src="img/telsiks-graph.png" alt="telsiks-graph">
        <div class="stats">
            <%- include('partials/stats') %>
        </div>
    </div>

    <div class="pollution-chart-wrapper">
        <canvas id="pollution-chart"></canvas>
    </div>
    
    <button id="update-button">Update</button>
    <button id="export-button">Export</button>
</div>

<script src="js/index.js"></script>

<%- include('partials/footer') %>
