<%- include('partials/header') %>

<div class="content">
    <div class="top">
        <div class="stats">
            <%- include('partials/stats') %>
        </div>
        <img src="img/telsiks-graph.png" alt="telsiks-graph">
    </div>

    <span id="legend">CO2 Concetration</span>
    <div class="container">
        <div class="pollution-chart-wrapper">
            <canvas id="pollution-chart" width="2400"></canvas>
        </div>
    </div>
    
    <div class="buttons">
        <button id="update-button">Update</button>
        <button id="export-button">Export</button>
    </div>
</div>

<script src="js/index.js"></script>

<%- include('partials/footer') %>
