body {
    background-color: #f8f8f8;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    max-width: 1200px;
    margin: auto;
    font-family: 'Cantarell';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.header img {
    width: auto;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.top img {
    height: 80%;
    width: auto;
}

.container {
    overflow-x: scroll;
    background-color: white;
}

.pollution-chart-wrapper {
    position: relative;
    width: 500vw;
    height: 40vh;
}

.buttons {
    height: 10vh;
}

#legend {
    --height: 24px;

    display: flex;
    align-items: center;
    gap: calc(var(--height) / 2);
    margin-bottom: calc(var(--height) / 2);
}

#legend::before {
    content: '';
    width: calc(var(--height) * 3);
    height: var(--height);
    background-color: green;
}

#pc-date-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}