body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    max-width: 1200px;
    margin: auto;
    font-family: 'Cantarell';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.header img {
    width: auto;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top {
    display: flex;
    align-items: center;
    gap: 0;
    height: 35vh;
}

.top .stats {
    flex-basis: 0;
    flex-grow: 1;
}

.top img {
    flex-basis: 0;
    flex-grow: 1;
    height: 80%;
    width: auto;
    object-fit: contain;
    object-position: right;
}

#pc-date-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#legend {
    --height: 10vh;
    --rect-width: 48px;

    display: flex;
    align-items: center;
    gap: calc(var(--rect-width) / 2);
    height: var(--height);
}

#legend::before {
    content: '';
    width: var(--rect-width);
    height: calc(var(--rect-width) / 2);
    background-color: green;
}

.container {
    overflow-x: scroll;
    background-color: white;
    height: 35vh;
}

.pollution-chart-wrapper {
    width: 500vw;
    height: 100%;
}

.buttons {
    height: 10vh;
}
